@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------ header -----------------------------*/
header {
    background-color: #292f33;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 29px;
}
.logo > a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
}
.fa-solid {
    color: #d4d9d3;
    font-size: 1.8rem;
}

/*--------------------- hero section--------------------------- */

.hero {
    height: 90vh;
    background-image: url('/assets/header_bg.jpeg');
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
}
.hero-1 {
    background-color: #292f33;
    width: 599px;
    height: 405px;
    position: absolute;
    margin-left: 150px;
    bottom: 0;
    padding: 10px 30px;
}
.hero-1 > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 5.1rem;
    margin: 25px 0 0;
}
.hero-1 > p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 20px 0 0;
    line-height: 1.8rem;
}

/* --------------------clear_fix -------------------------*/

.fix_parent {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.fix_left {
    flex: 0.5;
    margin-left: 150px;
}
.fix_left div {
    background-color: #e0e7ec;
    width: 100px;
    height: 100px;
}
.fix_left div > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #151414;
    font-size: 2.2rem;
    width: 300px;
    margin-left: 1rem;
}

.fix_left div > h2:first-child {
    margin-top: 2rem;
    width: 400px;
}

.fix_left > p{
    font-family: 'Open Sans', sans-serif;
    margin: 1.8rem 0;
    /* width: 500px; */
    line-height: 25px;
}
.fix_left > button {
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b8c6d0;
    color: #000000;
    font-size: 16px;
    border: none;
}
.fix_right {
    position: relative;
    flex: 0.5;
   
}
.underlay {
    width: 370px;
    height: 320px;
    margin-top: -430px;
  margin-left: 135px;
  background-color: #292f33b6;
  /* opacity: 0.7; */
}
.fix_right > img {
   width: 370px;
   margin-top: -200px;
   /* position: absolute; */
  margin-left: 100px;

}
.fix_right > .overlay {
position: relative;
background-color: #292f33;
height: 140px;
width: 140px;
color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 60px;
z-index: 1;
}
.fix_right > .overlay > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
}
.fix_right > .overlay > p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
   
}

.fix_right > p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;

}

@media (min-width: 768px) {
    header {
        padding-left: 130px;
        padding-right: 130px;
    }
    .logo > a {
        font-size: 1.2rem;
    }
}