@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto+Condensed:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------ header -----------------------------*/
header {
    background-color: #292f33;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 29px;
}
.logo > a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
}
.fa-solid {
    color: #d4d9d3;
    font-size: 1.8rem;
}

/*--------------------- hero section--------------------------- */

.hero {
    height: 90vh;
    background-image: url('../assets/header_bg.jpeg');
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
}
.hero-1 {
    background-color: #292f33;
    width: 599px;
    height: 405px;
    position: absolute;
    margin-left: 150px;
    bottom: 0;
    padding: 10px 30px;
}
.hero-1 > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 5.1rem;
    margin: 25px 0 0;
}
.hero-1 > p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin: 20px 0 0;
    line-height: 1.8rem;
}

/* --------------------clear_fix -------------------------*/

.fix_parent {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.fix_left {
    flex: 0.5;
    margin-left: 150px;
}
.fix_left div {
    background-color: #e0e7ec;
    width: 100px;
    height: 100px;
}
.fix_left div > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #151414;
    font-size: 2.2rem;
    width: 300px;
    margin-left: 1rem;
}

.fix_left div > h2:first-child {
    margin-top: 2rem;
    width: 400px;
}

.fix_left > p{
    font-family: 'Open Sans', sans-serif;
    margin: 1.8rem 0;
    /* width: 500px; */
    line-height: 25px;
}
.fix_left > button {
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b8c6d0;
    color: #000000;
    font-size: 16px;
    border: none;
}
.fix_right {
    position: relative;
    flex: 0.5;
   
}
.underlay {
    width: 370px;
    height: 320px;
    margin-top: -430px;
  margin-left: 135px;
  background-color: #292f33b6;
  /* opacity: 0.7; */
}
.fix_right > img {
   width: 370px;
   margin-top: -200px;
   /* position: absolute; */
  margin-left: 100px;

}
.fix_right > .overlay {
position: relative;
background-color: #292f33;
height: 140px;
width: 140px;
color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 60px;
z-index: 1;
}
.fix_right > .overlay > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
}
.fix_right > .overlay > p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
   
}

.fix_right > p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;

}

/* ---------------services-------------------*/
/* .services {
    display: flex;
    justify-content: center;
} */
.services > .services_p > div > h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.services > .services_p {
    display: flex;
    padding-left: 140px;
    margin-top: 67px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.services .services_p > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.services .services_p > div > .fa-solid {
    color: #edbf91;
    font-size: 3.5rem;
    margin: 14px 49px;
}

/* ---------------------gallery --------------------*/
.gallery {
    background-color: #f5f8fa;
}
.gallery > .gallery_1 {
    /* margin-left: 145px; */
    padding-top: 70px;
}
.gallery >.gallery_1 > .gallery_description {
    text-align: center;
}
.gallery >.gallery_1 > .gallery_description h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
}
.gallery >.gallery_1 > .gallery_description p {
    font-family: 'Open Sans', sans-serif;
    margin: 14px auto;
    width: 60%;
    line-height: 30px;
}
.gallery > .gallery_1 > .display_images {
display: flex;
justify-content: flex-start;
gap: 30px;
margin-left: 145px;
padding-top: 45px;
padding-bottom: 40px;
flex-wrap: wrap;
}
.gallery > .gallery_1 > .display_images > img {
height: 340px;
width: 250px;
object-fit: cover;
}

/* -------------------key_features----------------- */
.features {
display: flex;
background-color: #292f33;
height: 500px;
margin-bottom: 200px;
}
.features >  .features_left {
    flex: 0.5;
    margin-left: 145px;
    position: relative;
}
.features > .features_left > div {
    height: 430px;
    width: 180px;
    color: #1c1f22;
    background-color: #ffffff;
    opacity: 0.2;
    margin-top: 35px;
}

.features > .features_left > img {
    width: 476px;
    height: 435px;
    object-fit: cover;
    margin-top: -370px;
    margin-left: 40px;
    position: relative;;
}
.features > .features_right > .right_flex {
padding: 80px;
}
.features > .features_right h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 33px;
}
.features > .features_right p {
    font-family: 'Open Sans', sans-serif;
color: #f5f8fa;
/* margin: 20px auto 20px 0px; */
width: 80%;
text-align: left;
margin-right: auto;
margin-top: 30px;

}

.features > .features_right button {
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: #edbf91;
    color: #000000;
    font-size: 16px;
    margin-top: 30px;
    border: none;
}

.features > .features_right img {
    width: 450px;
    margin-left: 70px;
}

/* ---------------------offices ------------------------*/

.offices {
    display: flex;
    justify-content: center;
}
.offices > div {
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
}
.offices > div img {
    width: 340px;
    height: 345px;
    object-fit: cover;
}

/* ------------------design------------------- */
.design {
    display: flex;
}
.design > .left_design {
margin-left: 145px;
}
.design > .left_design > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.design > .left_design > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.design > .left_design > p > span {
    font-size: 40px;
    font-weight: 900;
    color: #edbf91;
    margin-right: 20px;
}
.design >.right_design {
    position: relative;
}
.design > .right_design > div {
    width: 200px;
    height: 380px;
    background-color: #edbf91;
    margin-left: 630px;
    position: relative;
}
.design > .right_design img {
width: 480px;
height: 380px;
object-fit: cover;
margin-left: 300px;
margin-top: -334px;
position: relative;
}

.left_design > div {
    background-color: #e0e7ec;
    width: 100px;
    height: 100px;
}

/* --------------------layout-------------- */

.layout {
    display: flex;
    background-color: #f5f8fa;
}
.layout > .left_layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 145px;
}
.layout > .left_layout >img {
    height: 250px;
    width: 230px;
    object-fit: cover;
}
.layout > .right_layout {
    padding-left: 100px;
}
.layout > .right_layout > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.layout > .right_layout > p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
.layout > .right_layout > button {
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
    background-color: #b8c6d0;
    color: #000000;
    font-size: 16px;
    border: none;
    margin-top: 30px;
}






























































@media (min-width: 768px) {
    header {
        padding-left: 130px;
        padding-right: 130px;
    }
    .logo > a {
        font-size: 1.2rem;
    }
}